.coluna-calculo{
    padding: 10px;
}

.coluna-calculo .row{
    margin: 0;
    padding: 7px 0;
}

.line-calculo-bg{
    background: #f6f7ff;
}

.coluna-grafico .row{
    
}
.coluna-head{
    background: #1b365d;
    padding: 10px 0;
    color: #FFF;
    text-transform: uppercase;
}

.arrumaTextoCentro{
    text-align: center;
}

.arrumaAlinhamento{
    white-space: nowrap;
    font-size: small;
    text-align: center;
    font-weight: 300!important;
}

 .arrumaInput input{
    font-size: small;
}

.box-pacientes {
    background: #1b365d;
    width: 45%;
    padding: 30px;
    margin: 0 auto;
}

.box-pacientes h3{
    color: #FFF;
}

.box-pacientes input{
    width: 250px;
    text-align: center;
    margin: 0 auto;
}

.title-calculo {
    height: 80px;
    vertical-align: bottom;
    padding-bottom: 10px;
    display: table-cell;
} 

.coluna-grafico{
    margin-top:115px;
}

.result-paciente{
    font-size: 18px;
}

.diferenca-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    border-top: 3px solid #1B365D;
    padding-top: 40px;
    margin-top: 40px;
    color: #1B365D;
    margin-bottom: 30px;
}

.diferenca-txt{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
}

.diferenca-num{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding-top: 20px;
}

.x-custo {
    text-align: center;
    font-size: 50px;
    padding: 40px 0 20px;
}

.economia-txt {
    font-size: 30px;
    text-align: center;
    background: #1b365d;
    padding: 50px 0;
    margin-top: 60px;
    color: #FFF;
}

.economia-num {
    font-size: 40px;
    margin-top: 20px;
    font-weight: bold;
    color: #66e566;
}

@media only screen and (max-width: 600px) {
   .box-pacientes {
        background: #1b365d;
        width: 100%;
        padding: 30px;
        margin: 0 auto;
    }

    .box-pacientes h3{
        color: #FFF;
    }

    .box-pacientes input{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    
    .title-calculo {
        height: auto;
        vertical-align: bottom;
        padding-bottom: 10px;
        display: table-cell;
    }
    .coluna-grafico{
        margin-top:0;
    }
}